*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #b3b3b3;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff8f0;
  color: #4c5b61;
  font: clamp(0.875rem, 2.5vw, 1.125rem) / 1.5 "Nunito", Sans-Serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font: bold clamp(1.5rem, 8vw, 2rem) / 1.5 "Roboto", Sans-Serif;
}
a {
  color: #392f5a;
}
img {
  width: 100%;
}
.header {
  justify-content: flex-start;
  background-color: #fff8f0;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 1rem;
  font: bold clamp(0.5rem, 4vw, 0.8rem) / 1.5 "Roboto", Sans-Serif;
}

.search {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #7f72aa;
}

.logo {
  margin-right: auto;
  margin-left: 1.5rem;
}

.logo-img {
  width: 80px;
  height: auto;
}

.nav-item:last-child {
  margin-right: 2rem;
}

.main-nav {
  border-top: 2px solid #c6ced2;
  padding: 1rem;
  background-color: #f3f3f7;
}
.main-nav > .nav-list {
  justify-content: center;
}
.breadcrumbs {
  padding: 1rem 2rem;
  background-color: hsla(0, 0%, 100%, 0.2);
}
.breadcrumbs a {
  color: #f3f3f7;
}
.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.65rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #1d191b;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #d5d5d5;
}
.hero-header {
  background-color: #4ba6fb;
  color: #fff8f0;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.hero-header h1 {
  padding: 0.5rem 2rem;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff8f0;
  color: #4c5b61;
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
}
.tags {
  margin: 1rem 0;
}
.tags a {
  background-color: #e0dcee;
  color: #392f5a;
  padding: 0.3rem 0.5rem;
  margin-right: 0.8rem;
  border-radius: 3px;
}
.tags a:hover {
  background-color: hsla(197, 100%, 49%, 0.3);
  color: #392f5a;
}
.other-info {
  display: flex;
  flex-wrap: nowrap;
}
.date,
.author {
  margin-right: 0.8rem;
}
.author a {
  text-decoration: underline;
}
@media (min-width: 62em) {
  .post-info {
    flex-wrap: nowrap;
    font-size: 0.9rem;
  }
  .tags {
    margin: 0;
  }
}
.hero-header p,
.content p {
  padding: 1rem 2rem;
}
.content {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.content h2 {
  padding: 1rem 2rem;
  color: #f42272;
}
.main-points {
  counter-reset: h2;
}
.point {
  font-weight: bold;
}
.point:before {
  content: counter(h2, decimal) ". ";
  counter-increment: h2;
  color: #f42272;
}
.share {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
}
.btn {
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  margin-right: 2px;
  font-weight: bold;
  border-radius: 2px;
  border-color: #392f5a;
  border-width: 0.5px;
  background-color: transparent;
}
.btn:hover {
  background-color: #e5e3f0;
}
.btn img {
  width: 25px;
  height: 25px;
}
.email {
  margin-top: 5px;
}
.related-topics {
  padding: 1rem 2rem;
}
.footer {
  background-color: #392f5a;
  color: #fff8f0;
  padding: 4rem 2rem 2rem 2rem;
  font: normal clamp(0.5rem, 4vw, 0.8rem) / 1.5 "Roboto", Sans-Serif;
}
.footer a {
  color: #f3f3f7;
  text-decoration: underline;
}
.primary {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about {
  flex-basis: 100%;
  flex-shrink: 1;
  padding-bottom: 1rem;
}
.site-links {
  flex-basis: 50%;
}
.social-links {
  flex-basis: 50%;
}
@media (min-width: 62em) {
  .primary {
    flex-wrap: nowrap;
  }
  .about {
    flex-grow: 1;
    padding-bottom: 0;
    margin-right: 0.5rem;
  }
  .site-links {
    flex-basis: 20%;
  }
  .social-links {
    flex-basis: 20%;
  }
  .email {
    margin-top: 0;
  }
}
.site-name,
.head {
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}
